@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base Styles */
@layer base {
  :root {
    --background: #d3cccc93;
    --foreground: #000000;
    --card: #ffffff;
    --card-foreground: #171717;
    --popover: #ffffff;
    --popover-foreground: #171717;
    --primary: #9e34dc;
    --primary-foreground: #ffffff;
    --secondary: #f6e05e;
    --secondary-foreground: #2d3748;
    --muted: #e2e8f0;
    --muted-foreground: #4a5568;
    --accent: #38b2ac;
    --accent-foreground: #ffffff;
    --destructive: #e53e3e;
    --destructive-foreground: #ffffff;
    --border: #cbd5e0;
    --input: #edf2f7;
    --ring: #bee3f8;
    --chart-1: #6b46c1;
    --chart-2: #d53f8c;
    --chart-3: #ed8936;
    --chart-4: #48bb78;
    --chart-5: #4299e1;
    --radius: 0.5rem;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #ededed;
    --card: #0a0a0a;
    --card-foreground: #ededed;
    --popover: #0a0a0a;
    --popover-foreground: #ededed;
    --primary: #ffffff;
    --primary-foreground: #171717;
    --secondary: #3b3b3b;
    --secondary-foreground: #ededed;
    --muted: #3b3b3b;
    --muted-foreground: #ededed;
    --accent: #3b3b3b;
    --accent-foreground: #ededed;
    --destructive: #e53e3e;
    --destructive-foreground: #ffffff;
    --border: #3b3b3b;
    --input: #3b3b3b;
    --ring: #4a4a4a;
    --chart-1: #d2b4de;
    --chart-2: #9fd3c7;
    --chart-3: #f7c6c7;
    --chart-4: #e2c8d3;
    --chart-5: #e3d0eb;
  }
}

/* Custom Utilities */
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Global Styles */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
